// Init some basic variables
$_empty-map: map-merge((), ()); // This will have type map, instead of list
$_config: $_empty-map;
$_config-key-cache: $_empty-map;
$_setter-placeholder: 'it-is-a-getter';

@import 'function/system';
@import 'function/json';
@import 'function/string';

@import 'library/color';
@import 'library/easing';

@import 'config/path';
@import 'config/scheme';
@import 'config/screen';
@import 'config/typography';

@import 'mixin/misc';
@import 'mixin/screen';