@import 'phrame';
@import './common.module';
@import './grid.module';
@import './button.module';

////
/// Handles responsive rules
/// @group Screen
////

/// Includes other modules with responsive styles
/// @access private
/// @param {String} $module		Module name
/// @param {String} $arg		Arguments should be passed
@mixin _get-screen-module($module, $arg) {
	@if $module == common {
		@include _common-rules(_format-selector($arg));
	} @else if $module == grid {
		@include _grid-generator(_format-selector($arg));
	} @else if $module == button {
		@include _button-generator(_format-selector($arg));
	}
}

@if _module(screen) {

	$_: _screen(size);
	@each $screen-key, $screen in $_ {
		$enabled: map-get($screen, enabled);
		$orientation: map-get($screen, orientation);
		$up: map-get($screen, up);
		$down: map-get($screen, down);
		$modules-enabled: ();
		$module-defaults: (
				up: false,
				down: false,
				only: false
		);

		@each $module in _screen('modules') {
			// Common modules
			$m: map-get($screen, $module);
			@if type-of($m) != map {
				$m: (
						default: false
				);
			}
			$m: map-merge($module-defaults, $m);
			$modules-enabled: map-merge($modules-enabled, (
					$module: $m
			));
		}

		$prefix: _format-selector(_screen('suffix.on') + '-' + $screen-key);
		$prefix-landscape: _format-selector($prefix + '-' + _screen('suffix.landscape'));
		$prefix-portrait: _format-selector($prefix + '-' + _screen('suffix.portrait'));

		$prefix-only: _format-selector($prefix + '-' + _screen('suffix.only'));
		$prefix-only-landscape: _format-selector($prefix-only + '-' + _screen('suffix.landscape'));
		$prefix-only-portrait: _format-selector($prefix-only + '-' + _screen('suffix.portrait'));

		$prefix-up: _format-selector($prefix + '-' + _screen('suffix.up'));
		$prefix-up-landscape: _format-selector($prefix-up + '-' + _screen('suffix.landscape'));
		$prefix-up-portrait: _format-selector($prefix-up + '-' + _screen('suffix.portrait'));

		$prefix-down: _format-selector($prefix + '-' + _screen('suffix.down'));
		$prefix-down-landscape: _format-selector($prefix-down + '-' + _screen('suffix.landscape'));
		$prefix-down-portrait: _format-selector($prefix-down + '-' + _screen('suffix.portrait'));

		@if $enabled {

			@each $module in _screen(modules) {

				@if _module($module) {

					$modules: map-get($modules-enabled, $module);

					// DEFAULT
					@if map-get($modules, default) != false {
						@include _on-screen($screen-key) {
							@include _get-screen-module($module, $prefix);
						}

						@if $orientation {
							@include _on-screen($screen-key, false, portrait) {
								@include _get-screen-module($module, $prefix-portrait);
							}

							@include _on-screen($screen-key, false, landscape) {
								@include _get-screen-module($module, $prefix-landscape);
							}
						}
					}

					// UP
					@if $up and map-get($modules, up) {
						@include _on-screen($screen-key, up) {
							@include _get-screen-module($module, $prefix-up);
						}

						@if $orientation {
							@include _on-screen($screen-key, up, portrait) {
								@include _get-screen-module($module, $prefix-up-portrait);
							}

							@include _on-screen($screen-key, up, landscape) {
								@include _get-screen-module($module, $prefix-up-landscape);
							}
						}
					}

					// DOWN
					@if $down and map-get($modules, down) {
						@include _on-screen($screen-key, down) {
							@include _get-screen-module($module, $prefix-down);
						}

						@if $orientation {
							@include _on-screen($screen-key, down, portrait) {
								@include _get-screen-module($module, $prefix-down-portrait);
							}

							@include _on-screen($screen-key, down, landscape) {
								@include _get-screen-module($module, $prefix-down-landscape);
							}
						}
					}
				}
			}
		}
	}
}