/// Some rules for basic styles
/// @group Basic
/// @author Victor Vincent

html {
	font-size: _typo('font-size.root');
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: _typo('font-family.sans');
	font-weight: normal;
	font-style: normal;
	line-height: _typo('line-height.root');
}

*, *:after, *:before {
	box-sizing: border-box;
}