////
/// A library of available colors
/// @group Scheme
/// @author Victor Vincent
////

$_color-library: (
    'transparent':			transparent,
    'white': (
        'main': 			#ffffff,
    ),
    'black': (
        'main': 			#000000
    ),
    'red': (
        'main':				#ff0000,
    ),
    'yellow': (
        'main':				#ffcc00,
    ),
    'green': (
        'main':				#00ff00
    ),
    'social': (
        'facebook': 		#3B5998,
        'twitter':			#55ACEE,
        'instagram':		#3F729B,
        'google-plus':		#DD4B39,
        'tumblr':			#36465D
    ),
    'gradient': (
        'white-to-black':	(#ffffff #000000),
    )
);

// Merge
$_: _config('_color-library', $_color-library);

/// Helper to get/set library values easier.
/// @access public
/// @param {String}	$key				Config key
/// @param {Mixed}	$value	[false]		Config value
/// @return {Mixed}
@function _color-library($key, $value: $_setter-placeholder) {
    $key: '_color-library.' + $key;
    @return _color-library($key, $value);
}
