////
/// A library of available colors
/// @group Scheme
/// @author Viktor Vincze
////

$_color-library: (
	'transparent':		transparent,
	'white':			#ffffff,
	'red': (
		'main':			#A60000,
		'pastel':		#CA4646,
		'darker':		#930303,
		'darkest':		#7F0000,
		'light':		#d90000,
		'lighter':		#B70000,
		'high':			#ff2626
	),
	'dark-red': (
		'main':			#5B0000,
		'darker':		#480000,
		'darkest':		#200000,
		'lighter':		#660000
	),
	'pink': (
		'main':			#FF9999,
		'dark':			#ED7A7A,
		'darker':		#B06C6C,
		'darkest':		#8A4D4D,
		'light':		#FFBFBF,
		'lighter':		#FFB8B8
	),
	'yellow': (
		'main':			#FFCC00,
		'dark':         #DE9300,
		'darker':		#EDA300,
		'lighter':		#FFDB4D
	),
	'button-yellow': (
		'main':			#FFCC00,
		'dark':			#FD9402,
		'light':		#FFC52C
	),
	'gray': (
		'main':			#999999,
		'darker':		#898989,
		'darkest':		#202020,
		'light':		#C2C2C2,
		'lighter':		#DDDDDD
	),
	'button-gray': (
		'main':			#C2C2C2,
		'dark':			#202020,
		'light':		#2E2E2E,
	),
	'black': (
		'main': 		#000000,
		'light':		#202020,
	),
	'green': (
		'main':			#85B400,
		'darker':		#85B400,
		'lighter':		#85B400,
		'neon':			#12ff00
	),
	'pine': (
		'main':			#00B259,
		'dark':			#006F37,
		'light':		#00D76B
	),
	'social': (
		'facebook': 	#3B5998,
		'twitter':		#55ACEE,
		'instagram':	#3F729B,
		'google-plus':	#DD4B39,
		'tumblr':		#36465D
	),

	// Migrated from old scheme.
	// Colors should be unified in the future.
	'legacy': (

		'white':					#ffffff,

		'black':					#000000,
		'black17':					#171414,
		'black19':					#191919,
		'black20':					#202020,

		'greyAA': 					#aaaaaa,
		'greyDD': 					#dddddd,
		'grey99': 					#999999,
		'grey86':					#868686,
		'greyEE':					#eeeeee,
		'greyF2':					#F2F2F2,
		'greyBB':					#bbbbbb,
		'greyE9':					#E9E9E9,
		'grey22':					#222222,
		'grey32':					#323232,
		'grey33':					#333333,
		'grey46':					#464646,
		'grey6F':					#6F6F6F,
		'grey89':					#898989,
		'grey322828':				#322828,
		'greyBA':					#BABABA,
		'greyB9':					#B9B9B9,
		'greyC4':					#C4C4C4,
		'greyC2':					#c2c2c2,
		'grey4C':					#4c4a4a,


		'notBlackNotGrey':			#222324,
		'redD6':					#d60000,
		'redA6':					#a60000,
		'redA0':					#a00000,
		'redDA':					#da0000,
		'redAD': 					#ad0000,
		'redDD':					#dd0000,
		'redA8':					#a80000,
		'redA1':					#a10000,
		'redAF3E':					#AF3E00,
		'redF622':					#F62222,
		'redB1':					#b10000,
		'redB2':					#b20000,
		'red5F':					#5F0000,
		'red59':					#590000,
		'red6411':					#641111,
		'red66':					#660000,
		'red68':					#680000,
		'red69':					#690000,
		'red6F':					#6F0000,
		'red75':					#750000,
		'red76':					#760000,
		'red77':					#770000,
		'red79':					#790000,
		'red7D':					#7D0000,
		'red41':					#410000,
		'red4a':					#4a0000,
		'red80':					#800000,
		'red88':					#880000,
		'red22':					#220000,
		'red8C':					#8C0000,
		'red9C':					#9C0000,
		'red89':					#890000,
		'red90':					#900000,
		'red92':					#920000,
		'red93':					#930000,
		'red9303':					#930303, // red.darker
		'red96':					#960000,
		'red9A':					#9A0000,
		'red7F':					#7F0000,
		'red7E':					#7E0000,
		'redCC':					#CC0000,
		'redPastel':				#CA4646,
		'redPastel2':				#E57A7A,
		'red8F':					#8F0000,
		'red8F1':					#8F1414,
		'redFF2626':				#FF2626,
		'redB53':					#B53333,
		'redBD4D':					#BD4D4D,
		'redBD2':					#BD2222,
		'redBD23':					#BD2323,
		'red8D27':					#8D2727,
		'red8C26':					#8C2626,
		'red9F26':					#9F2626,
		'redCA46': 					#CA4646,
		'redBF0':					#BF0000,
		'redBF3':					#BF3838,
		'red500':					#500000,
		'red5317':					#531717,
		'redC851':					#C85100,
		'redAB0C':					#AB0C0C,
/*red.pastel*/'redDF68':					#DF6868,
		'red8E1C':					#8E1C1C,
		'redC0393A':				#C0393A,
		'redAA2E':					#AA2E2E,
		'red91':					#910000,
		'red572':					#572929,
		'red860':					#860400,
		'redA2':					#a20000,
		'redB1A':					#b18a8a,
		'red5B':					#5b0000, // dark-red.main
		'red48':					#480000,
		'red46':					#460000,
		'redBC02':					#bc0202,
		'red44':					#440000,
		'red7B':					#7b0000,

		'yellow':					#FFCC00,
		'yellowHover':				#DFA328,
		'yellowActive':				#A15213,
		'yellowShadow':				#FFD964,
		'yellowish':				#FFEAAA,
		'yellowEAC':				#eac200,
		'yellowD1':					#D1A705,
		'warningYellow':			#ffad00,
		'yellowGradFrom':			#FFC808,
		'yellowGradTo':				#FAA41A,
		'yellowMelange':			#FFC32A,
		'yellowOrange':				#FA8A05,
		'yellowEDA':				#eda300,

		'beige':					#AC8787,
		'beige2':					#D3A3A3,
		'beige3':					#D49B9B,
		'beigeDark':				#996f6f,

		'pinkRegular':				#FF9999,
		'pinkRegular2':				#FF7373,
		'pinkRegular3':				#EAB0B0,
		'pinkLightest':				#f0cdce,
		'pinkLight':				#FFBFBF,
		'pinkLight2':				#D1ABAB,
		'PinkLight3':				#FFBFBF,
		'pinkDark':					#DF6666,
		'pinkDarkest':				#B06C6C,
		'pinkFF':					#FF6666,
		'pinkE06':					#E06568,
		'pinkPeach':				#FF7272,
		'pinkPeach2':				#E47F7F,
		'pinkE9'					#E97A7A,
		'pinkA1':					#A15454,
		'pink8A':					#8a4d4d,


		'brown630':					#663300,
		'brown441F':				#441F00,
		'brown7734':				#773400,
		'brown3417':				#341701,

		'greenActive':				#00D76B,
		'greenDark':				#006F37,
		'greenDark2':				#008C46,
		'greenDark3':				#007D3E,
		'greenAccept':				#00D76B,
		'greenOk':					#85b400,
		'greenStatBg':				#00B259,
		'greenPine':				#008C46,
		'greenGrass':				#00b953,
		'green9b':					#9bbd33,
		'green6a':					#6a8f04,
		'green81':					#81ad00,
		'green85':					#85b400,

		'so30':						rgba(255,115,115,0.3),
		'mcMask':					rgba(166, 0, 0, 0.7),
		'menuSeparator':			rgba(133, 43, 42, 0.35),
		'settingOverlayBorder':		rgba(102,102,102,0.4),
		'dateFilterBoxShadow':		rgba(187,0,0,0.3),
		'pageSwitchBoxShadow':		rgba(217,0,0,0.4),
		'currentLevelSignInnerShadow': rgba(0,118,59,0.7),
		'channelControlGradientStart': rgba(53,0,0,0),
		'channelControlGradientEnd':	rgba(53,0,0,0.8)
	)
);

// Merge
$_: _config('_color-library', $_color-library);

// Add gradients separately because now we can use the original colors defined before
$_: _config('_color-library', (
	'gradient': (
		'red': 			mix(#ffffff, _config('_color-library.red.main'), 15%) mix(#000000, _config('_color-library.red.main'), 14.5%),
		'dark-red': 	mix(#ffffff, _config('_color-library.dark-red.main'), 15.2%) mix(#000000, _config('_color-library.dark-red.main'), 13.2%),
		'yellow': 		mix(#ffffff, _config('_color-library.yellow.main'), 15.9%) mix(_config('_color-library.red.main'), _config('_color-library.yellow.main'), 15.5%),
		'green': 		mix(#ffffff, _config('_color-library.green.main'), 15%) mix(#000000, _config('_color-library.green.main'), 15%),
		'gray': 		mix(#ffffff, _config('_color-library.gray.main'), 15%) mix(#000000, _config('_color-library.gray.main'), 15%),
	)
));

// Generate opacity'd values
$_: ();

@for $i from 0 through 100 {
	$val: $i / 100;
	$white-key: white-opacity-#{$i};
	$white-val: rgba(255, 255, 255, $val);
	$black-key: black-opacity-#{$i};
	$black-val: rgba(0, 0, 0, $val);

	$_: map-merge($_, (
		$white-key: $white-val,
		$black-key: $black-val
	));
}

// Merge into
$_: _config('_color-library', $_);

/// Helper to get/set library values easier.
/// @access public
/// @param {String}	$key				Config key
/// @param {Mixed}	$value	[false]		Config value
/// @return {Mixed}
@function _color-library($key, $value: $_setter-placeholder) {
	$key: '_color-library.' + $key;
	@return _color-library($key, $value);
}
