////
/// Library for different cubic bezier easings
/// @group Animation
/// @author Ferenc Kiss
////

/// @prop {String}	_easing.ease-in-quad		[0.550, 0.085, 0.680, 0.530]
/// @prop {String}	_easing.ease-in-cubic		[0.550, 0.055, 0.675, 0.190]
/// @prop {String}	_easing.ease-in-quart		[0.895, 0.030, 0.685, 0.220]
/// @prop {String}	_easing.ease-in-quint		[0.755, 0.050, 0.855, 0.060]
/// @prop {String}	_easing.ease-in-sine 		[0.470, 0.000, 0.745, 0.715]
/// @prop {String}	_easing.ease-in-expo 		[0.950, 0.050, 0.795, 0.035]
/// @prop {String}	_easing.ease-in-circ 		[0.600, 0.040, 0.980, 0.335]
/// @prop {String}	_easing.ease-in-back 		[0.600, -0.280, 0.735, 0.045]
///
/// @prop {String}	_easing.ease-out-quad		[0.250, 0.460, 0.450, 0.940]
/// @prop {String}	_easing.ease-out-cubic		[0.215, 0.610, 0.355, 1.000]
/// @prop {String}	_easing.ease-out-quart		[0.165, 0.840, 0.440, 1.000]
/// @prop {String}	_easing.ease-out-quint		[0.230, 1.000, 0.320, 1.000]
/// @prop {String}	_easing.ease-out-sine		[0.390, 0.575, 0.565, 1.000]
/// @prop {String}	_easing.ease-out-expo		[0.190, 1.000, 0.220, 1.000]
/// @prop {String}	_easing.ease-out-circ		[0.075, 0.820, 0.165, 1.000]
/// @prop {String}	_easing.ease-out-back		[0.175, 0.885, 0.320, 1.275]
///
/// @prop {String}	_easing.ease-in-out-quad	[0.455, 0.030, 0.515, 0.955]
/// @prop {String}	_easing.ease-in-out-cubic	[0.645, 0.045, 0.355, 1.000]
/// @prop {String}	_easing.ease-in-out-quart	[0.770, 0.000, 0.175, 1.000]
/// @prop {String}	_easing.ease-in-out-quint	[0.860, 0.000, 0.070, 1.000]
/// @prop {String}	_easing.ease-in-out-sine	[0.445, 0.050, 0.550, 0.950]
/// @prop {String}	_easing.ease-in-out-expo	[1.000, 0.000, 0.000, 1.000]
/// @prop {String}	_easing.ease-in-out-circ	[0.785, 0.135, 0.150, 0.860]
/// @prop {String}	_easing.ease-in-out-back	[0.680, -0.550, 0.265, 1.550]
$_easing-library: (

	ease-in-quad:		'0.550, 0.085, 0.680, 0.530',
	ease-in-cubic:		'0.550, 0.055, 0.675, 0.190',
	ease-in-quart:		'0.895, 0.030, 0.685, 0.220',
	ease-in-quint:		'0.755, 0.050, 0.855, 0.060',
	ease-in-sine:		'0.470, 0.000, 0.745, 0.715',
	ease-in-expo:		'0.950, 0.050, 0.795, 0.035',
	ease-in-circ:		'0.600, 0.040, 0.980, 0.335',
	ease-in-back:		'0.600, -0.280, 0.735, 0.045',

	ease-out-quad:		'0.250, 0.460, 0.450, 0.940',
	ease-out-cubic:		'0.215, 0.610, 0.355, 1.000',
	ease-out-quart:		'0.165, 0.840, 0.440, 1.000',
	ease-out-quint:		'0.230, 1.000, 0.320, 1.000',
	ease-out-sine:		'0.390, 0.575, 0.565, 1.000',
	ease-out-expo:		'0.190, 1.000, 0.220, 1.000',
	ease-out-circ:		'0.075, 0.820, 0.165, 1.000',
	ease-out-back:		'0.175, 0.885, 0.320, 1.275',

	ease-in-out-quad:	'0.455, 0.030, 0.515, 0.955',
	ease-in-out-cubic:	'0.645, 0.045, 0.355, 1.000',
	ease-in-out-quart:	'0.770, 0.000, 0.175, 1.000',
	ease-in-out-quint:	'0.860, 0.000, 0.070, 1.000',
	ease-in-out-sine:	'0.445, 0.050, 0.550, 0.950',
	ease-in-out-expo:	'1.000, 0.000, 0.000, 1.000',
	ease-in-out-circ:	'0.785, 0.135, 0.150, 0.860',
	ease-in-out-back:	'0.680, -0.550, 0.265, 1.550'
);

// Merge
$_: _config('_easing', $_easing-library);

/// Function to return easing values from the library in cubic-bezier format.
/// @access public
/// @param {String}	$key				Config key
/// @param {Mixed}	$value	[false]		Config value
/// @return {Mixed}
@function _easing ($key, $value: $_setter-placeholder) {
	$key: '_easing.' + $key;
	@return cubic-bezier(unquote(_config($key, $value)));
}