////
/// Default button configuration options
/// @group Button
/// @author Viktor Vincze
////

/// @prop {Map}		_button.default				[See source]	Default values in a map
/// @prop {String}	_button.default.size 		[normal]		Default size
/// @prop {String}	_button.default.color 		[yellow]		Default color
/// @prop {String}	_button.default.font-weight	[300]			Default font-weight
///
/// @prop {List}	_button.radius 				[0 3 5 7 9 10]	All radius which should be generated
/// @prop {List}	_button.margin 				[0 5 10 0]		Button margins (TRBL)
/// @prop {Map}		_button.size 				[See source]	The sizes and names you want to use
/// @prop {Map}		_button.color 				[See source]	Available colors
$_button-config: (
	default: (
		size: 'normal',
		color: 'yellow',
		font-weight: 300
	),
	radius: 0 3 5 7 9 10,
	margin: 0 5 10 0,
	size: (
		tiny: (
			height: 24,
			padding: 0 10,
			font-size: 12,
			border-radius: 2
		),
		small: (
			height: 30,
			padding: 0 10,
			font-size: 16,
			border-radius: 2
		),
		normal: (
			height: 40,
			padding: 0 20,
			font-size: 16,
			border-radius: 3
		),
		big: (
			height: 46,
			padding: 0 25,
			font-size: 16,
			border-radius: 4
		),
		large: (
			height: 58,
			padding: 0 32,
			font-size: 20,
			border-radius: 5
		),
		huge: (
			height: 70,
			padding: 0 44,
			font-size: 26,
			border-radius: 6
		)
	),
	'color': (
		// Same as yellow
		default: (
			main: _config('_color-library.yellow.main') #dc7c01,
			hover: _config('_color-library.yellow.main') #eea501,
			active: #db7a00 #eea500,
			disabled: _config('_color-library.yellow.main'),
			text: _config('_color-library.dark-red.main'),
			shadow: rgba(0, 0, 0, 0.2)
		),
		'yellow': (
			main: _config('_color-library.yellow.main') #dc7c01,
			hover: _config('_color-library.yellow.main') #eea501,
			active: #db7a00 #eea500,
			disabled: _config('_color-library.yellow.main'),
			text: _config('_color-library.dark-red.main'),
			shadow: rgba(0, 0, 0, 0.2)
		),
		'red': (
			main: #c62828 #8e0202,
			hover: #c31c1c #a90202,
			active: #8d0101 #bc0303,
			disabled: #af0101,
			text: _config('_color-library.pink.main'),
			shadow: rgba(0, 0, 0, 0.2)
		),
		'gray': (
			main: #a8a8a8 #737373,
			hover: #a3a3a3 #8a8a8a,
			active: #737373 _config('_color-library.gray.main'),
			disabled: _config('_color-library.gray.main'),
			text: #202020,
			shadow: rgba(0, 0, 0, 0.2)
		)
	)
);

// Merge
$_: _config('_button', $_button-config);

/// Helper to get/set config values easier.
/// @access public
/// @param {String}	$key				Config key
/// @param {Mixed}	$value	[false]		Config value
/// @return {Mixed}
@function _button ($key, $value: $_setter-placeholder) {
	$key: '_button.' + $key;
	@return _config($key, $value);
}


$_: _config('button.color', (
	yellow: (

	),
	blue: (

	)
))