////
/// Default button configuration options
/// @group Config
/// @author Viktor Vincze
////

/// @prop {Bool}	_common.float			[true]		Floating related common classes
/// @prop {Bool}	_common.display 		[true]		Display related common classes
/// @prop {Bool}	_common.visibility 		[true]		Visibility related common classes
/// @prop {Bool}	_common.dimension 		[true]		Dimension related common classes
/// @prop {Bool}	_common.position 		[true]		Position related common classes
/// @prop {Bool}	_common.font 			[true]		Font related common classes
/// @prop {Bool}	_common.align 			[true]		Align related common classes
/// @prop {Bool}	_common.misc 			[true]		Misc common classes
$_common-config: (
	float: true,
	display: true,
	overflow: true,
	visibility: true,
	dimension: true,
	position: true,
	font: true,
	align: true,
	misc: true,
	color: true,
	colors: (
		base: 'text.base',
		secondary: 'text.secondary',
		secondary-darker: 'text.secondary-darker',
	)
);

// Merge
$_: _config('_common', $_common-config);

/// Helper to get/set config values easier.
/// @access public
/// @param {String}	$key				Config key
/// @param {Mixed}	$value	[false]		Config value
/// @return {Mixed}
@function _common ($key, $value: $_setter-placeholder) {
	$key: '_common.' + $key;
	@return _config($key, $value);
}