////
/// Default form configuration options
/// @group Form
/// @author Viktor Vincze
////

/// @prop {Number}			_form.gutter.form-row-bottom						[15]			Gutter from each form row
/// @prop {Number}			_form.gutter.label-right							[15]			Gutter from the right label
///
/// @prop {Number}			_form.dimension.input-height						[40]			Height of the input
/// @prop {Number | List}	_form.dimension.input-padding						[0 35 0 15]		Padding of the input (uses line-height for top and bottom); Global/TRBL
///
/// @prop {Number}			_form.dimension.dropdown.list-item-line-height		[16]			Line-height of an option row
/// @prop {Number | List}	_form.dimension.dropdown.list-item-padding			[5 0]			Padding of an option row; Global/TRBL
///
/// @prop {Number}			_form.font-size.label								[14]			Font-size of the label
/// @prop {Number}			_form.font-size.input								[14]			Font-size of the input
$_form-config: (
	gutter: (
		form-row-bottom: 15,
		label-right: 25
	),
	dimension: (
		input-height: 40,
		line-height: 30,
		input-padding: 0 35 0 15,
		dropdown: (
			list-item-line-height: 16,
			list-item-padding: 5 0
		)
	),
	font-size: (
		label: 14,
		input: 14
	)
);

// Merge
$_: _config('_form', $_form-config);

/// Helper to get/set config values easier.
/// @access public
/// @param {String}	$key				Config key
/// @param {Mixed}	$value	[false]		Config value
/// @return {Mixed}
@function _form ($key, $value: $_setter-placeholder) {
	$key: '_form.' + $key;
	@return _config($key, $value);
}