////
/// Color scheme configuration
/// @group Scheme
/// @author Victor Vincent
////

/// Default/Global scheme config
$_scheme-config: (

	// Commons
	common: (
		alert: 'yellow.main',
		success: 'green.main',
		error: 'red.main',
		disabled: 'gray.main'
	),

	// Typography
	text: (
		base: 'black.main',
		link: 'yellow.main',
		link-hover: 'black.main'
	),

	// Socials
	social: (
		facebook: 'social.facebook',
		twitter: 'social.twitter',
		instagram: 'social.instagram',
		google-plus: 'soacial.google-plus',
		tumblr: 'social.tumblr'
	)
);

// Merge
$_: _config('_color', $_scheme-config);

/// Helper to get/set config values easier.
/// @access public
/// @param {String}	$key				Config key
/// @param {Mixed}	$value	[false]		Config value
/// @return {Mixed}
@function _color ($original, $value: $_setter-placeholder) {
	$key: '_color-library.' + _config('_color.' + $original);
	$result: _config($key, $value);
	@if $result == null and $value != $_setter-placeholder {
		$key: '_color-library.' + $original;
		$result: _config($key, $value);
	}
	@return $result;
}
