////
/// Default form configuration options
/// @group Screen
/// @author Viktor Vincze
////

/// @prop {Map}			_screen.size					[See source]	List of different screen sizes. Add your own for more breakpoints.
/// @prop {Map}			_screen.size.mobile				[See source]	Configuration for a screen (here we use mobile for example).
/// @prop {Bool}		_screen.size.mobile.enabled		[See source]	Is this size enabled?
/// @prop {Number}		_screen.size.mobile.from		[0]				Bottom size
/// @prop {Number}		_screen.size.mobile.to			[640]			Top size
/// @prop {Bool}		_screen.size.mobile.orientation	[true]			Add orientation related rules?
/// @prop {Bool}		_screen.size.mobile.only		[true]			Add rules for ONLY this range?
/// @prop {Bool}		_screen.size.mobile.up			[true]			Add rules for this range and up?
/// @prop {Bool}		_screen.size.mobile.down		[false]			Add rules for this range and down?
/// @prop {Map | Bool}	_screen.size.mobile.common		[See source]	Add common module rules for this screen size? Set by UP/DOWN/ONLY or false.
/// @prop {Map | Bool}	_screen.size.mobile.grid		[See source]	Add grid module rules for this screen size? Set by UP/DOWN/ONLY or false.
/// @prop {Map | Bool}	_screen.size.mobile.button		[See source]	Add button module rules for this screen size? Set by UP/DOWN/ONLY or false.
///
/// @prop {Map}			_screen.suffix					[See source]	Suffixes for different cases.
/// @prop {List}		_screen.modules					[(common, grid, button)] List of modules associated with the screen module.
$_screen-config: (
	size: (
		mobile: (
			enabled: true,
			from: 0,
			to: 700,
			orientation: true,
			only: true,
			up: true,
			down: false,
			common: (
				only: true,
				up: false,
				down: false
			),
			grid: (
				only: true,
				up: false,
				down: false
			),
			button: (
				only: true,
				up: false,
				down: false
			)
		),
		small: (
			enabled: true,
			from: 701,
			to: 1024,
			orientation: true,
			only: true,
			up: true,
			down: true,
			common: (
				only: true,
				up: true,
				down: true
			),
			button: false,
			grid: (
				only: true,
				up: true,
				down: true
			)
		),
		medium: (
			enabled: true,
			from: 1025,
			to: 1440,
			orientation: false,
			only: false,
			up: true,
			down: false,
			common: (
				only: true,
				up: true,
				down: true
			),
			grid: (
					only: false,
					up: true,
					down: false
			),
			button: false
		),
		large: (
			enabled: false,
			from: 1441,
			to: 1920,
			orientation: false,
			only: false,
			up: false,
			down: false,
			common: false,
			grid: false,
			button: false
		),
		large-plus: (
			enabled: false,
			from: 1921,
			to: 10000,
			orientation: false,
			only: true,
			up: false,
			down: false,
			common: false,
			grid: false,
			button: false
		)
	),
	suffix: (
		only: only,
		up: and-up,
		down: and-down,
		on: on,
		landscape: landscape,
		portrait: portrait
	),
	modules: (
		common,
		grid,
		button
	)
);

// Merge
$_: _config('_screen', $_screen-config);

/// Helper to get/set config values easier.
/// @access public
/// @param {String}	$key				Config key
/// @param {Mixed}	$value	[false]		Config value
/// @return {Mixed}
@function _screen ($key, $value: $_setter-placeholder) {
	$key: '_screen.' + $key;
	@return _config($key, $value);
}