////
/// Default typography related configuration options
/// @group Typo
/// @author Victor Vincent
////

/// @prop {Map}			_typography.font-size					[See source]		Default font sizes
/// @prop {Number}		_typography.font-size.root				[62.5%]				Root font size on the HTML element. Phrame uses rem, final sizes will be calculated from this value by rem.
/// @prop {Number}		_typography.font-size.base				[14]				Base (global) font size (in px)
/// @prop {Number}		_typography.font-size.h1				[42]				H1 size
/// @prop {Number}		_typography.font-size.h2				[36]				H2 size
/// @prop {Number}		_typography.font-size.h3				[30]				H3 size
/// @prop {Number}		_typography.font-size.h4				[24]				H4 size
/// @prop {Number}		_typography.font-size.h5				[18]				H5 size
/// @prop {Number}		_typography.font-size.h6				[14]				H6 size
///
/// @prop {Map}			_typography.line-height					[See source]		Line heights
/// @prop {Number}		_typography.line-height.root			[1.5]				Root line height on the HTML element
///
/// @prop {Map}			_typography.font-family					[See source]		Default font families
/// @prop {String}		_typography.font-family.sans			['Arial, Helvetica, sans-serif']
/// @prop {String}		_typography.font-family.serif			["Times New Roman", Times, serif]
/// @prop {String}		_typography.font-family.secondary		["Courier New", Courier6, monospace]
$_typo-config: (
	font-size: (
		root: 62.5%, // Should not be changed, used for em calculations.
		base: 14
	),
	line-height: (
		root: 1.5
	),
	font-family: (
		sans: unquote('Arial, Helvetica, sans-serif'),
		serif: unquote('"Times New Roman", Times, serif'),
		secondary: unquote('"Courier New", Courier, monospace')
	)
);

// Merge
$_: _config('_typography', $_typo-config);

/// Helper to get/set config values easier.
/// @access public
/// @param {String}	$key				Config key
/// @param {Mixed}	$value	[false]		Config value
/// @return {Mixed}
@function _typo ($key, $value: $_setter-placeholder) {
	$key: '_typography.' + $key;
	@return _config($key, $value);
}